.bt_regis {
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    background: #fabd16;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.bt_regis:hover {
    background: #ffa601;

}

.bt_regis.active {
    background: #ffa601;

}
.bt_list-1 {
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    background: #ffa600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.bt_list-1:hover {
    background: rgb(207, 135, 0);

}

.bt_list-1.active {
    background: rgb(207, 135, 0);
    
}
.bt_list-2 {
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    background: #db8400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.bt_list-2:hover {
    background: rgb(175, 102, 6);

}

.bt_list-2.active {
    background: rgb(175, 102, 6);
}
.bt_list {
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    background: #c36800;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.bt_list:hover {
    background: rgba(236, 161, 0, 1);

}

.bt_list.active {
    background: rgba(236, 161, 0, 1);
}

.main-footer {
    padding: 0 0 0 0;
    width: 100%;
}

.fas {
    color: white;
}

.fas:hover {
    color: saddlebrown;
}

.card {
    border-radius: 15px;
}