.bt_regis {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  background: #fabd16;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_regis:hover {
  background: #ffa601;
}

.bt_regis.active {
  background: #ffa601;
}
.box_list-1 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #ffa600;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.box_list-1:hover {
  background: rgb(207, 135, 0);
}

.box_list-1.active {
  background: rgb(207, 135, 0);
}

.box_list-2 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #db8400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.box_list-2:hover {
  background: rgb(175, 102, 6);
}

.box_list-2.active {
  background: rgb(175, 102, 6);
}
.box_list {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #c36800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.box_list:hover {
  background: rgba(236, 161, 0, 1);
}

.box_list.active {
  background: rgba(236, 161, 0, 1);
}
.bt_list-1 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  background: #ffa600;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_list-1:hover {
  background: rgb(207, 135, 0);
}

.bt_list-1.active {
  background: rgb(207, 135, 0);
}

.bt_list-2 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  background: #db8400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_list-2:hover {
  background: rgb(175, 102, 6);
}

.bt_list-2.active {
  background: rgb(175, 102, 6);
}

.bt_list {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  background: #c36800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_list:hover {
  background: rgba(236, 161, 0, 1);
}

.bt_list.active {
  background: rgba(236, 161, 0, 1);
}

.main-footer {
  padding: 0 0 0 0;
  width: 100%;
}

.fas {
  color: white;
}

.fas:hover {
  color: saddlebrown;
}

.card {
  border-radius: 15px;
}

.far {
  color: white;
}

.far:hover {
  color: saddlebrown;
}

.card-cow {
  background: rgb(199, 122, 0);
  background: linear-gradient(180deg, rgba(199, 122, 0, 1) 42%, rgba(255, 226, 122, 1) 100%);
  color: #fff;
}
.card-food {
 background: rgb(219,255,89);
background: linear-gradient(0deg, rgba(219,255,89,1) 0%, rgba(76,255,67,1) 100%);


}

.btn-cow {
  background-color: #c36800;
  color: #fff;
}

.btn-cow:hover {
  background-color: #eb8a1b;
  color: #fff;
}

.bt_doc-1 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  background: #00b300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_doc-1:hover {
  background: #007e00;
}

.bt_doc-1.active {
  background: #007e00;
}
.bt_doc-2 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  background: #228B22;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_doc-2:hover {
  background: #32cd32;
}

.bt_doc-2.active {
  background: #32cd32;
}