.bt_regis {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  background: #fabd16;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_regis:hover {
  background: #ffa601;
}

.bt_regis.active {
  background: #ffa601;
}

.box_list-1 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #ff9f22;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.box_list-1:hover {
  background: #c0791c;
}

.box_list-1.active {
  background: #c0791c;
}

.box_list-2 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #ce7c11;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.box_list-2:hover {
  background: #9c5901;
}

.box_list-2.active {
  background: #9c5901;

}

.box_list-3 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #9c5e0d;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.box_list-3:hover {
  background: #6b3e03;
}

.box_list-3.active {
  background: #6b3e03;
}

.bt_list-4 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #B08969;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_list-4:hover {
  background: #705742;
}

.bt_list-4.active {
  background: #705742;

}

.bt_list-5 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #a3754f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_list-5:hover {
  background: #77553a;

}

.bt_list-5.active {
  background: #77553a;
}

.bt_list-6 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #a16d43;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_list-6:hover {
  background: #7c5434;
}

.bt_list-6.active {
  background: #7c5434;
}

.bt_list-7 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #00CEAE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_list-7:hover {
  background: #00ac92;

}

.bt_list-7.active {
  background: #00ac92;
}

.bt_list-8 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #00b695;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_list-8:hover {
  background: #0d806a;
}

.bt_list-8.active {
  background: #0d806a;
}

.bt_list-9 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #8d8d8d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_list-9:hover {
  background: #7c7c7c;
}

.bt_list-9.active {
  background: #7c7c7c;
}

.main-footer {
  padding: 0 0 0 0;
  width: 100%;
}

.fas {
  color: white;
}

.fas:hover {
  color: saddlebrown;
}

.card {
  border-radius: 15px;
}

.far {
  color: white;
}

.far:hover {
  color: saddlebrown;
}

.card-cow {
  background: rgb(199, 122, 0);
  background: linear-gradient(180deg, rgba(199, 122, 0, 1) 42%, rgba(255, 226, 122, 1) 100%);
  color: #fff;
}

.card-food {
  background: rgb(219, 255, 89);
  background: linear-gradient(0deg, rgba(219, 255, 89, 1) 0%, rgba(76, 255, 67, 1) 100%);


}

.btn-cow {
  background-color: #c36800;
  color: #fff;
}

.btn-cow:hover {
  background-color: #eb8a1b;
  color: #fff;
}

.bt_doc-1 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  background: #00b300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_doc-1:hover {
  background: #007e00;
}

.bt_doc-1.active {
  background: #007e00;
}

.bt_doc-2 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #228B22;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_doc-2:hover {
  background: #32cd32;
}

.bt_doc-2.active {
  background: #32cd32;
}

.bt_doc-3 {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  background: #228B22;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bt_doc-3:hover {
  background: #32cd32;
}

.bt_doc-3.active {
  background: #32cd32;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .txt-resp {
      display: inline;
      font-size: medium;
  }

  .imggg {
      width: 100%;
  }
}
@media only screen and (min-width: 440px)  {
  .txt-resp {
      display: inline;
      font-size: medium;
  }

  .imggg {
      width: 50%;
  }
}
@media only screen and (min-width: 570px)  {
  .txt-resp {
      display: inline;
      font-size: medium;
  }

  .imggg {
      width: 40%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .txt-resp {
      display: inline;
      font-size: medium;
  }

  .imggg {
      width: 25%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .txt-resp {
      display: inline;
      font-size: medium;
  }

  .imggg {
      width: 50%;

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .txt-resp {
      display: inline;
      font-size: large;
  }

  .imggg {
      width: 25%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .txt-resp {
      display: inline;
      font-size: large;
  }

  .imggg {
      width: 25%;
  }
}