
.header__btn {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.header__btn:last-child {
  margin-right: 0;
}
.header__btn:hover, .header__btn.js-active {
  color: #fff;
  background-color: #2c2c2c;
}

.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.password-strength {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.js-hidden {
  display: none;
}

.bg-gd {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(207, 116, 27, 1) 50%
  );
  background: -webkit-linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(207, 116, 27, 1) 50%
  );
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(207, 116, 27, 1) 50%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#cf741b", GradientType=1);
}

.card-head {
  background: rgb(195, 104, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(195, 104, 0, 1) 0%,
    rgba(236, 161, 0, 1) 38%,
    rgba(255, 188, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(195, 104, 0, 1) 0%,
    rgba(236, 161, 0, 1) 38%,
    rgba(255, 188, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(195, 104, 0, 1) 0%,
    rgba(236, 161, 0, 1) 38%,
    rgba(255, 188, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c36800", endColorstr="#ffbc00", GradientType=1);
}

.login100-form-btn {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #c36800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: rgba(236, 161, 0, 1);
}

.main-footer {
  padding: 0 0 0 0;
  width: 100%;
}
