.Short {
  width: 100%;
  background-color: #dc3545;
  margin-top: 5px;
  height: 3px;
  color: #dc3545;
  font-weight: 500;
  font-size: 12px;
}

.Weak {
  width: 100%;
  background-color: #ffc107;
  margin-top: 5px;
  height: 3px;
  color: #ffc107;
  font-weight: 500;
  font-size: 12px;
}

.Good {
  width: 100%;
  background-color: #28a745;
  margin-top: 5px;
  height: 3px;
  color: #28a745;
  font-weight: 500;
  font-size: 12px;
}

.Strong {
  width: 100%;
  background-color: #d39e00;
  margin-top: 5px;
  height: 3px;
  color: #d39e00;
  font-weight: 500;
  font-size: 12px;
}

.bg-gd {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(207, 116, 27, 1) 50%
  );
  background: -webkit-linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(207, 116, 27, 1) 50%
  );
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(207, 116, 27, 1) 50%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#cf741b", GradientType=1);
}

.card-head {
  background: rgb(195, 104, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(195, 104, 0, 1) 0%,
    rgba(236, 161, 0, 1) 38%,
    rgba(255, 188, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(195, 104, 0, 1) 0%,
    rgba(236, 161, 0, 1) 38%,
    rgba(255, 188, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(195, 104, 0, 1) 0%,
    rgba(236, 161, 0, 1) 38%,
    rgba(255, 188, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c36800", endColorstr="#ffbc00", GradientType=1);
}

.login100-form-btn {
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #c36800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: rgba(236, 161, 0, 1);
}

.main-footer {
  padding: 0 0 0 0;
  width: 100%;
}
